/* External Style Sheet for allArtists.html Page
   Author:  Gilson Batista
   Date:     01/29/2018
*/

body  {
	
      background-color:DarkCyan  ; 
}

img{
	
	width:19%;
	margin-right:auto;
	margin-left:auto;
	display:block;
	border: 3px solid blue;
	
} 

h1{
	color:blue;
	text-align:center;

}

p{
	
	color:Cyan;
}

img#button{
	
	border:3px solid yellow;
	width:10%;
	border-radius:32px;

}

p#end{
	
	float:right;
	color:Fuchsia;

	
	
}


