/*
   Author:  Gislon Batista
   Date:   05/06/2018
*/
body{
    background-color: tomato;
}

img{
    height:20%;
    width:15%;
    border: 7px solid ForestGreen ;
	margin:10px 20px 17px 10px;
	box-shadow: 7px 7px 9px;
}

img:hover{

    height:40%;
    width:25%;
    border: 8px solid black ;
	margin:17px 22px 27px 15px;
	box-shadow: 17px 17px 19px;
}







img#atback{
    text-align: center;
    height:20%;
    width:40%;
    border: 7px solid blue;
	margin:10px 20px 17px 10px;
	box-shadow: 7px 7px 9px;

}

footer{
    text-align: center;
}
header{
    color: greenyellow;
    text-align: center;
}

