/* External Style Sheet for world.html Page
   Author:  Gilson Batista
   Date:     01/29/2018
*/

body  {
      background-color: gold;
}

h1{
	color: navy;
	text-align: center;
}

nav img{
	width:50%;
	margin-left: auto;
	margin-right:  auto;
}

h2{
	border-bottom: dotted navy;
	font-family:bold;
	color: navy;
}

p{
 	 color:green;
	font-family:italic;
}

ul{
	color:red;
}

footer {
	text-align: center;
}

footer p{
	text-align: right;
	color: black;
	font-size: small;
}